@charset 'utf-8';

html {
  /*
    웹폰트
        장점 : 어느환경에서든 적용이 가능하다.
        단점 : 용량이 클 경우 속도에 문제가 생길 수 있다.
        1. 구글 폰트에서 Noto Sans 검색
        2. 적당한 폰트 선택 (R400, B700)
        3. 폰트를 html에서 link태그를 통해 포함시킴
        4. 포함된 폰트를 CSS의 html 태그에서 설정
    */
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  /* 수평 스크롤 제거 */
  overflow-x: hidden;
  /* 글간격(자간)을 5% 좁힌다 */
  letter-spacing: -0.05em;
}

a {
  /* underline 제거 */
  text-decoration: none;
}

.global-nav {
  position: absolute;
  width: 100%;
  height: 44px;
  left: 0;
  top: 0;
}

.local-nav {
  position: absolute;
  width: 100%;
  height: 52px;
  left: 0;
  top: 45px;
}

.global-nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.local-nav-links {
  display: flex;
  /* display 모드를 flex로 설정한다. */
  align-items: center;
  /* 내부 아이템을 세로 중앙정렬 */
  justify-content: right;
  /* 내부 아이템을 가로 우측정렬 */
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid gray;
}

.local-nav-product-link {
  font-size: 1.5rem;
  /* 폰트는 rem */
  font-weight: bold;
  margin-right: auto;
  /* 가질수 있는 margin의 최댓값 : auto */

}

/* Overview Compare Buy */
.local-nav-link {
  margin-left: 2em;
  /* margin을 상대크기로 설정 - 간격은 em */
}

.product-name {
  font-size: 7.5rem;
  text-align: center;
  margin-top: 2em;
}

.sticky-element {
  display: none;
  position: fixed;
}

.section0-message {
  opacity: 0;
  font-size: 4.5rem;
  font-weight: bold;
  width: 100%;
  height: 6rem;
  left: 0;
  top: 5em;
  text-align: center;
}

#show-section0 .sticky-element {
  display: block;
}

.scroll-section {
  border: 1px solid red;
}